<!--<div class="component-container">
    <mat-card class="card" *ngIf="curTimeDayMonth == DZIEŃ/MIESIĄĆ z bazy" *ngFor="let nekrologiList of nekrologiLists">
        <mat-card-content>
            <p style="color:white; font-size:16px;text-align: center;">Dnia {{nekrologiList.DateOfDeath_Obituary}}
                przypada x rocznica śmierci
            </p>
            <p style="color:white; font-size:24px; text-align: center">Ś.P. {{nekrologiList.Name}}</p>
            <p>
                {{nekrologiList.ObituaryContent}}
            </p>
        </mat-card-content>
        <mat-divider style="border-top-color: white;"></mat-divider>
    </mat-card>
</div>

<mat-paginator [length]="nekrologiLists.length" [pageSize]="pageSize" [pageSizeOptions]="[4, 8, 24, 48]"
    (page)="onPageChange($event)">
</mat-paginator>-->