<div class="component-container" *ngFor="let roczniceList of roczniceLists">
  <mat-card class="card" *ngIf="'01/11' === roczniceList.DateOfDeath.slice(5,10)">
    <mat-card-content>
      <p style="color:white; font-size:16px;text-align: center;">
        Dnia {{roczniceList.DateOfDeath}}
        przypada x rocznica śmierci
      </p>
      <p style="color:white; font-size:24px; text-align: center">Ś.P. {{roczniceList.Name}}</p>
      <p>
        {{roczniceList.DateOfBirth}}
      </p>
    </mat-card-content>
    <mat-divider style="border-top-color: white;"></mat-divider>
  </mat-card>
</div>

<mat-paginator [length]="roczniceLists.length" [pageSize]="pageSize" [pageSizeOptions]="[4, 8, 24, 48]"
               (page)="onPageChange($event)">
</mat-paginator>

