<div class="container">
    <div class="section-1">
        <p>1</p>
    </div>
    <div class="section-2">
        <p>2</p>
    </div>
    <div class="section-3">
        <p>3</p>
    </div>
    <div class="section-4">
        <p>4</p>
    </div>
    <div class="section-5">
        <p>5</p>
    </div>
    <div class="section-6">
        <p>6</p>
    </div>
    <div class="section-7">
        <p>7</p>
    </div>
    <div class="section-8">
        <p>8</p>
    </div>
    <div class="section-9">
        <p>9</p>
    </div>
    <div class="section-10">
        <p>10</p>
    </div>
    <div class="section-11">
        <p>11</p>
    </div>
    <div class="section-12">
        <p>12</p>
    </div>
    <div class="section-13">
        <p>13</p>
    </div>
    <div class="section-14">
        <p>14</p>
    </div>
    <div class="wejscie">
        <mat-icon>
            <p class="wejscie-icon">arrow_upward</p>
        </mat-icon>
    </div>
</div>

<div class="container">
    <div class="section-1">
        <p>1</p>
    </div>
    <div class="section-2">
        <p>2</p>
    </div>
    <div class="section-3">
        <p>3</p>
    </div>
    <div class="section-4">
        <p>4</p>
    </div>
    <div class="section-5">
        <p>5</p>
    </div>
    <div class="section-6">
        <p>6</p>
    </div>
    <div class="section-7">
        <p>7</p>
    </div>
    <div class="section-8">
        <p>8</p>
    </div>
    <div class="section-9">
        <p>9</p>
    </div>
    <div class="section-10">
        <p>10</p>
    </div>
    <div class="section-11">
        <p>11</p>
    </div>
    <div class="section-12">
        <p>12</p>
    </div>
    <div class="section-13">
        <p>13</p>
    </div>
    <div class="section-14">
        <p>14</p>
    </div>
    <div class="wejscie">
        <mat-icon>
            <p class="wejscie-icon">arrow_upward</p>
        </mat-icon>
    </div>
</div>