<mat-card class="card">
    <mat-card-content>
        <img src="../../../assets/map.png" alt="">
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label><strong>Wybierz sektor</strong></mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="../../../assets/1.png">Sektor 1</mat-option>
                <mat-option value="../../../assets/2.png">Sektor 2</mat-option>
                <mat-option value="../../../assets/3.png">Sektor 3</mat-option>
                <mat-option value="../../../assets/4.png">Sektor 4</mat-option>
                <mat-option value="../../../assets/5.png">Sektor 5</mat-option>
                <mat-option value="../../../assets/6.png">Sektor 6</mat-option>
                <mat-option value="../../../assets/7.png">Sektor 7</mat-option>
                <mat-option value="../../../assets/8.png">Sektor 8</mat-option>
                <mat-option value="../../../assets/9.png">Sektor 9</mat-option>
                <mat-option value="../../../assets/10.png">Sektor 10</mat-option>
                <mat-option value="../../../assets/11.png">Sektor 11</mat-option>
                <mat-option value="../../../assets/12.png">Sektor 12</mat-option>
            </mat-select>
        </mat-form-field>
        <img src={{selected}} alt="">
    </mat-card-content>
</mat-card>