<mat-card class="card mat-elevation-z0">

    <mat-card-content class="card-content">
        <div class="hello-text-container">
            <p class="hello-text">Zadbamy o twoich <br> bliskich.</p>
        </div>
    </mat-card-content>
    <mat-card-footer style="justify-content: center">
        <mat-divider style="border-top-color: white; border-top-width: 2px;"></mat-divider>
        <br>
        <button mat-stroked-button class="button" [routerLink]="['/kontakt']">Skontaktuj
            się</button>
    </mat-card-footer>
</mat-card>