.card{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    height: 80vh;
    border: 0px;
    box-shadow: 0px;
}
.card-content{
    height: 80%;
}

.button{
    display:block;
    margin: 0 auto;
    color: white;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
}
.hello-text-container{
    width: 80%;
    height: 50%;
}

.hello-text{
    font-size: 24px;
}
