.card {
  margin: 20px 0px 20px 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
  height: 89vh;
  border: 0px;
  box-shadow: 0px;
}
.card-content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.button {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  color: white;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2);
}

#home {
  min-height: 75%;
  margin-bottom: 100px;
}
