.label{
    display: none;
    color: white;
}

.card{
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.stepper{
    background-color: rgba(0, 0, 0, 0);
}

table {
  width: 100%;
}

.mat-row:nth-child(even){
  background-color:#dbfeb8;
}

.mat-row:nth-child(odd){
  background-color:#c5edac;
}
.mat-header-row{
  background-color:#99c2a2;
}
mat-header-cell{
  color:"white";
}
.mat-cell{
    color: black;
}
.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

.mat-checkbox-inner-container {
  margin: 2px 8px auto 0 !important;
}

.buttons{
  margin-top: 20px;
}
button{
  margin: 0px 8px 0px 0px;
}




 ::ng-deep .mat-focused .mat-form-field-label{
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

::ng-deep input.mat-input-element {
  color: white;
}

.basic-container .mat-step-header .mat-step-icon-selected {
  background-color: #6cb73a;
  color: #fff;
}

.mat-step-header .mat-step-icon {
    background-color: rgba(167, 35, 35, 0.54);
    color: #fff;
}

img{
  width: 100%;
  height: auto;
}