/* You can add global styles to this file, and also import other style files */

*{
  margin: 0px;
  padding: 0px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
p{
  color: whitesmoke;
}
code {
  color: #e01a76;
}

body{
  background-color: rgba(0, 0, 0, 0);
}

img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top:0px;
  z-index: -1;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.loader {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-50px;
  border: 16px solid #f3f3f3be;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}