@model List<UserRoleViewModel>

@{ 
    var roleId = ViewBag.roleId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Administrator"))
{
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Dodaj lub usun uzytkownika z danej roli</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label">
                        @Model[i].UserName
                    </label>
                    </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto"/>
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>
}