@model IEnumerable<IdentityUser>

@{
    ViewBag.Title = "Wszyscy użytkownicy w serwisie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Administrator"))
{
    <a asp-action="Index" asp-controller="Admin"
       class="btn btn-primary mb-3" style="width:auto">
        Strona główna admina
    </a>
    <a asp-action="RegisterAdmin" asp-controller="Admin"
       class="btn btn-primary mb-3" style="width:auto">
        Nowy admin
    </a>
    <a asp-action="RegisterEmployee" asp-controller="Admin"
       class="btn btn-primary mb-3" style="width:auto">
        Nowy pracownik
    </a>
    <a asp-action="BlockEmployee" asp-controller="Admin"
       class="btn btn-primary mb-3" style="width:auto">
        Zablokuj pracownika
    </a>
    <a asp-action="UnblockEmployee" asp-controller="Admin"
       class="btn btn-primary mb-3" style="width:auto">
        Odblokuj pracownika
    </a>
    <a asp-action="ListUsers" asp-controller="Admin"
       class="btn btn-primary mb-3" style="width:auto">
        Spis użytkowników
    </a>


    <h1> Wszyscy użytkownicy</h1>

    @if (Model.Any())
    {
        foreach (var user in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    User Id: @user.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">Email: @user.Email</h5>
                    <h5 class="card-title">UserName: @user.UserName</h5>
                </div>
                <div class="card-footer">
                </div>
            </div>
        }
    }

    else
    {
        <div class="card">
            <div class="card-header">
                Brak ról
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Użyj przycisku by stworzyć rolę
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="admin" asp-action="CreateRole">
                    Stwórz rolę
                </a>"
            </div>
        </div>
    }
}