<mat-card class="card">
    <mat-card-content>
        <p style="color:white; font-size:22px;text-align: center;">Regulamin</p>
        <mat-divider style="border-top-color: white;"></mat-divider>
        <p style="margin-top: 10px; padding: 5px">
            <br>
            Na podstawie art. 2 i art. 45 ust awy z dnia 17 maja 1989 roku o stosunku Państwa do Kościoła Katolickiego w
            Rzeczypospolitej Polskiej (tj. Dz. U. z 2013 r poz. 1169, ze zmianami) w związku z art. 8 ust. 3 art. 23 i
            art. 24 Konkordatu między Stolicą Apostolską i Rzeczypospolitą Polską podpisanego w Warszawie dnia 28 lipca
            1993 roku (Dz. U. nr 51 poz. 318) przy zachowaniu ustawy z dnia 31 stycznia 1959 roku o cmentarzach i
            chowaniu zmarłych (tj. Dz. U. z 2011 roku, nr 118 poz. 687, ze zmianami) i rozporządzenia Ministra
            Infrastruktury z dnia 7 marca 2008 roku w sprawie wymagań, jakie muszą spełniać cmentarze, groby i inne
            miejsca pochówku zwłok i szczątków (Dz. U. nr.48 póz. 284), stanowi się, co następuje:
            <br>
            <br>
            <br>
            § l Przepisy ogólne.
            <br>
            1. Cmentarz rzymsko-katolicki jest cmentarzem wyznaniowym Kościoła Katolickiego, przeznaczonym do
            pochówku wiernych Parafii i innych osób w tym spoza Parafii, które wyrażą wole pochowania na nim z
            poszanowaniem jego charakteru. Kościół Katolicki pełni na nim swa misję i sprawuje kult publiczny w
            granicach wyznaczonych przez prawo kościelne, a potwierdzonych przez prawo powszechne, w szczególności przez
            Konkordat między Stolicą Apostolską i Rzeczypospolitą Polską.
            <br>
            2. Właścicielem Cmentarza jest Parafia Rzymskokatolicka, na
            której spoczywa obowiązek zachowania katolickiego charakteru cmentarza i jego utrzymania zgodnie z
            przeznaczeniem.
            <br>
            3. Czynności zarządu i bieżącą administrację wykonuje Zarządca Cmentarza Parafii – Proboszcz Parafii,
            działający w imieniu i na rzecz Parafii, do którego zadań w szczególności należy:
            <br>
            a) prowadzenie dokumentacji cmentarza zgodnie z obowiązującymi przepisami, a w tym prowadzenie Księgi
            zmarłych oraz Księgi cmentarnej zgodnie z inwentaryzacją cmentarza,
            <br>
            b) przydzielanie miejsca do urządzenia grobu oraz sprawowanie nadzoru nad jego urządzeniem,
            <br>
            c) obsługa pogrzebów oraz piecza nad godnym i spokojnym przebiegiem uroczystości pogrzebowych
            <br>
            d) przyjmowanie opłat cmentarnych za użytkowanie miejsc grzebalnych oraz innych opłat związanych z
            funkcjonowaniem cmentarza,
            <br>
            e) utrzymywanie porządku,
            <br>
            f) konserwacja urządzeń infrastruktury technicznej cmentarza, obiektów małej architektury oraz budynków
            gospodarczych.
            <br>
            g) wykonanie czynności administracyjnych związanych ze zgłoszeniem usługi pogrzebowej przez firmę
            pogrzebową.
            <br>
            4. Środki na utrzymanie cmentarza pozyskiwane są z opłat cmentarnych.
            <br>
            5. Parafia jest właścicielem gruntów, drzewostanu i grobów, jako ściśle związanych z gruntem i wszystkich
            urządzeń znajdujących się na cmentarzu. Za właścicieli nagrobków uważa się dysponentów grobów.
            <br>
            6. Wobec osób nie stosujących się do Regulaminu będą stosowane środki prawne i administracyjne.
            <br>
            7. Groby o wartości historycznej, archeologicznej lub artystycznej nie mogą być likwidowane i podlegają
            ochronie przewidzianej w ustawie o cmentarzach oraz w ustawie o ochronie dóbr kultury.
            <br>
            8. Poza usługami pogrzebowymi pozostałe czynności związane z pogrzebem mają charakter religijny i stanowią
            posługę duszpasterską.
            <br>
            9. Usługi pogrzebowe wykonuje Zarządca Cmentarza Parafii lub zewnętrzna firma pogrzebowa wybrana przez
            rodzinę zmarłego.
            <br>
            § 2 Postanowienia porządkowe.
            <br>
            1. Cmentarz jest otwarty codziennie z tym, że w okresie tzw. czasu letniego w godzinach 7.00 - 21.00, a w
            pozostałych miesiącach roku od godz. 8,00 do 20.00. W innych godzinach wolno przebywać na cmentarzu tylko w
            oktawie Wszystkich Świętych.
            <br>
            2. Osoby przebywające na terenie cmentarza zobowiązane są do poszanowania świętości miejsca, zachowania
            ciszy i szacunku należnego osobom zmarłym oraz dbania o czystość i porządek.
            <br>
            3. Zarządca cmentarza Parafii nie odpowiada za szkody na grobach powstałe na skutek klęsk żywiołowych,
            czynników atmosferycznych, dzikich zwierząt, kradzieży i aktów wandalizmu oraz za rzeczy pozostawione bez
            nadzoru, a także za szkody wynikające z zaniedbania lub zaniechania.
            <br>
            4. Na terenie cmentarza zakazuje się:
            <br>
            - zakłócania ciszy, porządku i powagi miejsca,
            <br>
            - zaśmiecania terenu w tym wysypywania odpadów poza pojemniki do tego przeznaczone,
            <br>
            - przebywania w stanie nietrzeźwym, spożywania napojów alkoholowych i środków odurzających, palenia
            papierosów.
            <br>
            - wprowadzania zwierząt.
            <br>
            - niszczenia zieleni, nagrobków i urządzeń cmentarnych,
            <br>
            - niszczenia lub samowolnego przemieszczania elementów małej architektury,
            <br>
            - wyrzucania śmieci w miejscach niedozwolonych, wyrzucania śmieci nie pochodzących z cmentarza, wypalania
            śmieci.
            <br>
            - prowadzenia akwizycji, umieszczania reklam i rozkładania wizytówek.
            <br>
            - zabudowania grobu wykraczającego poza powierzchnię miejsca grzebalnego, ustawiania ławek, ogrodzeń,
            sadzenia drzew i krzewów, utwardzania ziemi wokół miejsc grzebalnych itp. bez zgody Zarządcy Cmentarza
            Parafii.
            <br>
            - wjeżdżania pojazdami mechanicznymi bez zgody Zarządcy Cmentarza Parafii,
            <br>
            - handlowania i zarobkowania bez zgody Zarządcy Cmentarza Parafii,
            <br>
            - usuwania lub niszczenia tablic i napisów znajdujących się na grobach,
            <br>
            - zabierania wszelkiego rodzaju roślin, kwiatów naturalnych i sztucznych, wiązanek i zniczy z cudzych
            grobów,
            <br>
            - chodzenia po urządzonych miejscach grzebalnych,
            <br>
            - samowolnego wykonywanie prac budowlanych i kamieniarskich.
            <br>
            5. Dysponenci grobów nie mogą we własnym zakresie wykonywać sadzenia drzew, wycinki ani innej zmiany stanu
            drzew i wysokich krzewów rosnących w alejach cmentarnych lub na grobach.
            <br>
            6. Wszelkie prace budowlane mogą być wykonywane wyłącznie przez posiadacza lub dysponenta grobu albo
            upoważnione przez te osoby podmioty gospodarcze, na podstawie udzielonego pełnomocnictwa lub umowy.
            <br>
            7. Zabrania się wrzucania gruzu i odpadów po robotach kamieniarsko - budowlanych do pojemników ustawionych
            na cmentarzu lub w bezpośrednim jego sąsiedztwie.
            <br>
            8. Wykonawca prac zobowiązany jest do naprawienia wszelkich szkód powstałych wyniku wykonywania prac.
            Wykonywanie prac nie może zakłócać spokoju i powagi miejsca oraz kolidować z trwającymi ceremoniami
            pogrzebowymi i powinno odbywać się od godziny 8:00 do 15:00 z wyłączeniem dni ustawowo wolnych od pracy i
            świąt kościelnych.
            <br>
            9. Kształt nagrobków, pomników i grobowców, znajdujące się na nich napisy i użyta symbolika nie mogą
            naruszać wyznaniowego charakteru cmentarza.
            <br>
            10. W przypadku powstania zniszczeń lub szpecących uszkodzeń pomnika dysponent grobu jest wzywany do
            wykonania naprawy w terminie określonym w wezwaniu. Jeżeli naprawa nie zostanie wykonana Zarządca Cmentarza
            Parafii jest upoważniony do zlecenia rozebrania pomnika, a dysponent grobu nie ma prawa do odszkodowania.
            <br>
            11. Zarządca Cmentarza Parafii załatwia wszelkie sprawy związane z funkcjonowaniem Cmentarza oraz pobiera
            opłaty. Kancelaria czynna jest w dni robocze po Mszy Św. w zakrystii kaplicy.
            <br>
            12. Zarządca cmentarza Parafii ma prawo kontroli na terenie cmentarza pojazdów i osób oraz przewożonych i
            przenoszonych materiałów i sprzętu.
            <br>
            13. Firmy pogrzebowe mają wolny wstęp do wszelkiej działalności na terenie Cmentarza po zgłoszeniu usługi
            pogrzebowej Zarządcy cmentarza Parafii.
            <br>
            § 3 Rodzaje miejsc pochówku.
            <br>
            l . Na Cmentarzu mogą być następujące miejsca pochówku:
            <br>
            a) grób ziemny stanowi dół w ziemi, do którego składa się trumnę z ciałem osoby zmarłej, szczątki osób
            ekshumowanych z innych miejsc pochówku lub urnę z prochami i zasypuje wydobytą z tego dołu ziemią.
            <br>
            b) grób murowany (grobowiec) stanowi dół, w którym boki są murowane do poziomu gruntu, do którego składa się
            trumnę z ciałem osoby zmarłej, szczątki osób ekshumowanych z innych miejsc pochówku lub urnę z prochami, nad
            którymi wykonane jest sklepienie.
            <br>
            <br>
            <br>
            2. Istnieje możliwość chowania ciał zmarłych w grobach wielopoziomowych (groby głębinowe) przy zachowaniu
            przepisów prawa.
            <br>
            <br>
            <br>
            <br>
            <br>
            § 4. Prawo pochowania i dysponent grobu.
            <br>
            1. Zgodnie z art.10 ustawy o cmentarzach i chowaniu zmarłych prawo pochowania zwłok ludzkich ma najbliższa
            pozostała rodzina osoby zmarłej, a mianowicie:
            <br>
            - pozostały małżonek/małżonka,
            <br>
            - krewni zstępni,
            <br>
            - krewni wstępni,
            <br>
            - krewni w linii bocznej do 4 stopnia pokrewieństwa,
            <br>
            - powinowaci w linii prostej do l stopnia.
            <br>
            2. Każdy grób powinien mieć dysponenta. Dysponent grobu w momencie dysponowania grobem jest jedyną osobą,
            która może rościć sobie prawa do grobu, chyba że upoważni do tego inne osoby, co poświadcza w formie
            pisemnej u Zarządcy Cmentarza Parafii, przy czym jeden egzemplarz oświadczenia woli zostaje u Zarządcy
            Cmentarza Parafii, a drugi otrzymuje dysponent grobu.
            <br>
            3. Dokumentem potwierdzającym prawo do dysponowania grobem jest imienne pokwitowanie uiszczenia stosownych
            opłat za grób, wystawione dysponentowi przez Zarządcę Cmentarza Parafii lub w/w oświadczenie dysponenta.
            <br>
            4. W przypadku śmierci dysponenta grobu oraz w sytuacji, gdy nie został on w nim pochowany, prawo do
            dysponowania grobem przechodzi na osobę, która go pochowała, chyba że inna osoba przedstawi prawomocne
            orzeczenie sądowe, wskazujące ją jako osobę uprawnioną do dysponowania grobem.
            <br>
            5. Dysponent grobu jest uprawniony do zrzeczenia się prawa do miejsca grzebalnego na rzecz najbliższych
            członków rodziny osoby zmarłej pochowanej w danym grobie. Zrzeczenia można dokonać tylko w formie pisemnej u
            Zarządcy Cmentarza Parafii, przy czym jeden egzemplarz oświadczenia woli zostaje u Zarządcy Cmentarza
            Parafii, a drugi otrzymuje dysponent grobu.
            <br>
            § 5. Pochówek w istniejących grobach.
            <br>
            l. Grób zwykły nie może być użyty do ponownego chowania przed upływem 20 lat. W przypadku grobu głębinowego
            może nastąpić „dochowanie" przed upływem 20 lat. Ponowne użycie grobu, po upływie tego okresu, nie może
            nastąpić, jeżeli uprawniona osoba zgłosi zastrzeżenie przeciw temu i uiści ustaloną Regulaminem opłatę.
            <br>
            2. Po upływie 20 lat grób może być przeznaczony do ponownego pochówku tzn. Zarządca Cmentarza Parafii ma
            prawo przekazać to miejsce innej osobie, celem pochowania innego zmarłego.
            <br>
            3. Dotychczasowe prawo do grobu wygasa od momentu i na skutek zaistnienia prawa innej osoby do pochowania
            zwłok w tym grobie. Jednak dopóki Zarządca Cmentarza Parafii nie rozporządził miejscem i inna osoba nie
            nabyła prawa do grobu w tym miejscu, można skutecznie zgłosić zastrzeżenie i uiścić opłatę, przedłużając
            prawo do grobu na okres 20 lat.
            <br>
            4. Zasady określone w pkt.1-3 nie dotyczą grobów murowanych.
            <br>
            <br>
            <br>
            <br>
            <br>
            § 6. Opłaty.
            <br>
            l. Na cmentarzu obowiązują opłaty. Zarządca Cmentarza Parafii pobiera opłaty związane z zarządzaniem
            Cmentarzem. Wpływy są przeznaczone na utrzymanie cmentarza oraz inwestycje cmentarne, a w szczególności na
            pokrycie kosztów funkcjonowania cmentarza jak koszty: wywozu i składowania śmieci, utrzymania porządku na
            Cmentarzu, na opłaty za wodę, energię elektryczną, ubezpieczenie Cmentarza itp.
            <br>
            2. W szczególności opłaty są pobierane z tytułu:
            <br>
            a) pokładnego,
            <br>
            b) prolongaty (ponowienia)
            <br>
            c) rezerwacji miejsca,
            <br>
            d) stawiania nowego pomnika lub wymiany starego pomnika,
            <br>
            e) opłaty administracyjne za czynności Zarządcy cmentarza Parafii polegające w szczególności na:
            <br>
            - lokalizacji grobu,
            <br>
            - ustaleniu prawa do grobu,
            <br>
            - rejestracji pogrzebu lub ekshumacji w Księdze zmarłych i Księdze cmentarnej,
            <br>
            - udostępnieniu terenu cmentarza dla wykonania usługi pogrzebowej lub robót i wydaniu stosownego zezwolenia.
            <br>
            3. Pełny „Wykaz opłat" ustala załącznik do niniejszego Regulaminu.
            <br>
            4. W przypadku stawiania pomnika o podwójnej szerokości (grób dwuosobowy) na grobie jednoosobowym, oprócz
            opłaty, należy uiścić koszt rezerwacji zgodnie z zasadami opisanymi w § 9, o ile wcześniej to miejsce nie
            zostało zarezerwowane.
            <br>
            5. W przypadku grobów wielopoziomowych (głębinowych) opłaty związane z rezerwacją i prolongatą pobierane są
            jak za groby zwykłe (pojedyncze). Pokładne zaś jest pobierane przy każdym pochówku.
            <br>
            6. W przypadku pochówku szczątków osób ekshumowanych z innego cmentarza stosuje się te same opłaty, co w
            przypadku innych pochówków.
            <br>
            7. Zarządca Cmentarza Parafii potwierdza każde pobranie opłaty odpowiednim dokumentem. Pobrane opłaty będą
            wpłacane na konto bankowe Parafii, a wykaz pobranych opłat przedstawiany Radzie Ekonomicznej i Radzie
            Parafialnej.
            <br>
            § 7. Pokładne.
            <br>
            1. Pokładne to opłata uiszczana w chwili powstania nowego grobu lub użycia miejsca w grobie głębinowym i
            grobie murowanym, przyznająca prawo do użytkowania tego miejsca przez okres 20 lat, w tym także do stawiania
            nagrobków za zgodą Zarządcy Cmentarza Parafii.
            <br>
            2. W przypadku grzebania ciała jednej osoby i wyrażenia chęci zarezerwowania miejsca obok na pochowanie w
            przyszłości (np. współmałżonka) wraz z pokładnym należy pokryć koszt rezerwacji miejsca na zasadach podanych
            w § 9.
            <br>
            § 8. Prolongata (ponowienie).
            <br>
            1. Prolongata to ponowna opłata za prawo do użytkowania miejsca na cmentarzu, składana po upływie 20 lat od
            dnia pochówku w danym miejscu.
            <br>
            2. Minimalny okres prolongaty wynosi 20 lat. Istnieje możliwość ponawiania prolongat po upływie poprzedniego
            okresu.
            <br>
            § 9. Rezerwacja miejsca na cmentarzu.
            <br>
            1. Istnieje możliwość rezerwacji miejsca na cmentarzu na zasadach takich jak w przypadku pokładnego.
            <br>
            2. Przy pochówku osoby, która ma miejsce zarezerwowane, pobiera się pokładne za 20 lat, odliczając kwotę
            należną za lata, które jeszcze nie upłynęły, a już zostały opłacone przy rezerwacji miejsca.
            <br>
            § 10. Likwidacja grobu.
            <br>
            l .Groby mogą być likwidowane na wniosek dysponenta grobu po 20 latach od ostatniego pochówku lub przez
            Zarządcę Cmentarza Parafii w związku z wygaśnięciem terminów rezerwacji i prolongat.
            <br>
            2. W przypadku nie uiszczenia opłaty w terminach określonych w §§ 7-9 mniejszego Regulaminu grób kwalifikuje
            się do likwidacji, co jest zgodne z obowiązującymi w tym zakresie przepisami.
            <br>
            3. Likwidacja grobu winna być poprzedzona informacją pisemną umieszczoną na grobie, na co najmniej 12
            miesięcy przed terminem jego likwidacji.
            <br>
            4. Pomnik zdjęty z likwidowanego grobu zostaje odłożony na specjalne składowisko, gdzie w ciągu 6 miesięcy
            może być odebrany przez dysponenta grobu. Po tym terminie Zarządca Cmentarza Parafii może poddać go
            utylizacji bez prawa do odszkodowania dla dysponenta grobu.
            <br>
            5. Z zakresu czynności związanych z likwidacją grobu sporządza się protokół.
            <br>
            § 11. Stawianie nowych i wymiana starych pomników.
            <br>
            1. Na wszystkie prace wykonawcy winni mieć pisemne pozwolenie wydane przez Zarządcę Cmentarza Parafii. Prace
            prowadzone bez pozwolenia uważa się za prace nielegalne.
            <br>
            2. Elementy starego pomnika należy na własny koszt usunąć z Cmentarza. Zabrania się wrzucania tych elementów
            do cmentarnego śmietnika, zakopywania w grobie bądź ich porzucania na terenie cmentarza lub przy cmentarzu.
            <br>
            § 12. Ekshumacja
            <br>
            1. Ekshumacja zwłok i szczątków może być dokonana przez osobę uprawnioną wyłącznie:
            <br>
            a) na umotywowaną prośbę osób uprawnionych do pochowania zwłok za zezwoleniem właściwego inspektora
            sanitarnego,
            <br>
            b) na zarządzenie prokuratora lub sądu.
            <br>
            2. O zamierzonej ekshumacji zawiadamia się na piśmie Zarządcę cmentarza Parafii na minimum trzy dni przed
            ustalonym terminem.
            <br>
            <br>
            <br>
            § 13. Przeniesienie grobu
            <br>
            1. Istnieje możliwość przeniesienia szczątków osób pochowanych w innych miejscach i pochowania ich na
            tutejszym cmentarzu w nowym grobie lub grobowcu bądź już w istniejącym grobie głębinowym lub grobowcu.
            <br>
            2. W tym celu osoba uprawniona jest zobowiązana przedstawić Zarządcy stosowne dokumenty dla dokonania wpisu
            w księdze cmentarnej, ustalić czas i miejsce pochówku oraz dokonać stosownych opłat.
            <br>
            § 14. Postanowienia końcowe.
            <br>
            1. Regulamin niniejszy przyjęto dnia 14 maja 2018 roku, obowiązuje z dniem ogłoszenia, tj. od 20.05.2018 r.
            <br>
            2. W sprawach nieuregulowanych Regulaminem stosuje się przepisy ustawy o cmentarzach i chowaniu zmarłych.
            Kodeksu Cywilnego oraz przepisy wykonawcze do wymienionych ustaw.
        </p>
        <br>

    </mat-card-content>
    <mat-card-footer style="justify-content: center">
        <mat-divider style="border-top-color: white;"></mat-divider>
        <br>
        <button mat-raised-button color="primary" class="button"
            onclick="location.href='https://sip.lex.pl/akty-prawne/dzu-dziennik-ustaw/cmentarze-i-chowanie-zmarlych-16784152';">Akty
            prawne</button>
    </mat-card-footer>
</mat-card>