<mat-card class="card">
        <mat-card-header>
            <mat-card-title style="color: white;justify-content: center;">Cennik</mat-card-title>
        </mat-card-header>
        <mat-divider style="border-top-color: white; text-align: center;"></mat-divider>
        <mat-card-content>
            <p style="margin-top: 10px">
                Lorem : x zł
            </p>
            <p>
                Lorem : x zł
            </p>
            <p>
                Lorem : x zł
            </p>
            <p>
                Lorem : x zł
            </p>
            <p>
                Lorem : x zł
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title class="card-container-center" style="color: white;">Regulamin</mat-card-title>
        </mat-card-header>
        <mat-divider style="border-top-color: white;"></mat-divider>
        <mat-card-content>
            <p style="margin-top: 10px">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ratione quibusdam blanditiis odio
                nihil, minima ad sequi quo itaque voluptates officiis, incidunt possimus, minus hic ipsum facilis labore
                esse tempore.
                </p>
                <br>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ratione quibusdam blanditiis odio
                nihil, minima ad sequi quo itaque voluptates officiis, incidunt possimus, minus hic ipsum facilis labore
                esse tempore.
            </p>
        </mat-card-content>
    </mat-card>