.card{
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
}

.card-container-center{
  display: inline-block;
}

.mat-paginator{
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 50px;
  color: white;
}

.mat-select-arrow{
  color: white;
}

.mat-select-value{
  color: white;
}