a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

header{
  background-color: rgba(0, 0, 0, 0.8);
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

a{
  font-size: 18px;
}

.logo{
  font-size: 24px;
}