body.active{
    background-color: rgba(0, 0, 0, 0);
}

.card{
    margin: 20px 10px 20px 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.mat-paginator{
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 50px;
    color: white;
}

.mat-select-arrow{
    color: white;
}

.mat-select-value{
    color: white;
}

.component-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  @media (min-width: 590px) and (orientation: landscape) {
    .card{
      flex: 1 0 40%;
       padding: 20px;
    }
  }