<div class="container">
    <mat-card class="card">
        <p>Jan Nowak</p>
        <a href="tel:+48 000 000 000">+48 000 000 000</a>
        <p>Adam Nowak</p>
        <a href="tel:+48 000 000 000">+48 000 000 000</a>
        <p>Email:</p>
        <a href="mailto:mail@mail.com.pl" target="blank">mail@mail.com.pl</a>
        <p>Lokalizacja biura:</p>
        <a href="https://www.google.pl/maps/dir/50.8215976,19.1123961//@50.8204962,19.1119133,17z/data=!4m2!4m1!3e0?hl=pl"
            target="blank"><span>Aleja Wolności 27,<br />42-200 Częstochowa</span></a>
    </mat-card>
</div>