<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title>
        Dodaj "Aktualność"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Tytuł</mat-label>
        <input matInput #message id="dodajAktualnoscTytul">
        <mat-hint align="start"><strong>Podaj tytuł aktualności</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Treść</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" id="dodajAktualnoscTresc"></textarea>
        <mat-hint align="start"><strong>Podaj treść aktualności</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="dp" id="dodajAktualnoscData" disabled>
        <mat-hint align="start"><strong>Podaj datę aktualności</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <br>
    <button mat-raised-button color="primary" (click)="GetInputFromDodajaktualnosc()">Dodaj</button>
  </mat-expansion-panel>

</mat-accordion>
<br>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title>
        Usuń / edytuj "Aktualność"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Tytuł</mat-label>
        <input matInput #message id="edytujAktualnoscTytul">
        <mat-hint align="start"><strong>Podaj tytuł aktualności</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Treść</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" id="edytujAktualnoscTresc"></textarea>
        <mat-hint align="start"><strong>Podaj treść aktualności</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="dp2" id="edytujAktualnoscData" disabled>
        <mat-hint align="start"><strong>Podaj datę aktualności</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>

    <br><br>
    <mat-form-field style="margin-left: 30px;">
      <mat-label>Szukaj</mat-label>
      <input matInput type="text" (keyup)=" applyFilterAktualnosci($event.target.value)" placeholder="Jan Kowalski"
        #input>
    </mat-form-field>
    <br>
    <table mat-table [dataSource]="dataSourceAktualnosci" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggleAktualnosci() : null"
            [checked]="selectionAktualnosci.hasValue() && isAllSelectedAktualnosci()"
            [indeterminate]="selectionAktualnosci.hasValue() && !isAllSelectedAktualnosci()"
            [aria-label]="checkboxLabelAktualnosci()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionAktualnosci.toggle(row) : null"
            [checked]="selectionAktualnosci.isSelected(row)" [aria-label]="checkboxLabelAktualnosci(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł </th>
        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="NewsContent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Treść </th>
        <td mat-cell *matCellDef="let element"> {{element.NewsContent}} </td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="DateOfPublication">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data publikacji </th>
        <td mat-cell *matCellDef="let element"> {{element.DateOfPublication}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsAktualnosci"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAktualnosci;"
        (click)="selectionAktualnosci.toggle(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <br><br>
    <button mat-raised-button color="warn" (click)="GetCheckedUsunAktualnosci()">Usuń</button>
    <button mat-raised-button color="accent" (click)="GetDataFromEdytujaktualnosc()">Edytuj</button>

  </mat-expansion-panel>
</mat-accordion>
<br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title>
        Dodaj "Nekrolog"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Imię i nazwisko</mat-label>
        <input matInput #message id="dodajNekrologImieINazwisko">
        <mat-hint align="start"><strong>Podaj imię i nazwisko</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Treść</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" id="dodajNekrologTresc"></textarea>
        <mat-hint align="start"><strong>Podaj treść nekrologu</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="dp3" id="dodajNekrologData" disabled>
        <mat-hint align="start"><strong>Podaj datę śmierci</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <br>
    <button mat-raised-button color="primary" (click)="GetInputFromDodajnekrolog()">Dodaj</button>
  </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title>
        Usuń / edytuj "Nekrolog"
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Imię i nazwisko</mat-label>
        <input matInput #message id="edytujNekrologImieINazwisko">
        <mat-hint align="start"><strong>Podaj imię i nazwisko</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Treść</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" id="edytujNekrologTresc"></textarea>
        <mat-hint align="start"><strong>Podaj treść nekrologu</strong> </mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="dp4" id="edytujNekrologData" disabled>
        <mat-hint align="start"><strong>Podaj datę śmierci</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp4 disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <br>
    <mat-form-field style="margin-left: 30px;">
      <mat-label>Szukaj</mat-label>
      <input matInput type="text" (keyup)=" applyFilterNekrologi($event.target.value)" placeholder="Jan Kowalski"
        #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSourceNekrologi" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggleNekrologi() : null"
            [checked]="selectionNekrologi.hasValue() && isAllSelectedNekrologi()"
            [indeterminate]="selectionNekrologi.hasValue() && !isAllSelectedNekrologi()"
            [aria-label]="checkboxLabelNekrologi()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionNekrologi.toggle(row) : null"
            [checked]="selectionNekrologi.isSelected(row)" [aria-label]="checkboxLabelNekrologi(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię i nazwisko </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="ObituaryContent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Treść nekrologu </th>
        <td mat-cell *matCellDef="let element"> {{element.ObituaryContent}} </td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="DateOfDeath_Obituary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data śmierci </th>
        <td mat-cell *matCellDef="let element"> {{element.DateOfDeath_Obituary}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsNekrologi"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNekrologi;" (click)="selectionNekrologi.toggle(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <br>
    <button mat-raised-button color="warn" (click)="GetCheckedUsunNekrolog()">Usuń</button>
    <button mat-raised-button color="accent" (click)="GetDataFromEdytujnekrolog()">Edytuj</button>
  </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title>
        Dodaj zmarłego
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="name-surname">
      <mat-label>Imię i Nazwisko</mat-label>
      <input matInput id="dodajZmarlegoImieINazwisko">
    </mat-form-field>


    <mat-form-field id="dodaj-zmarłego">
      <mat-label>Numer grobu</mat-label>
      <input matInput type="number" id="dodajZmarlegoNumerGrobu">
    </mat-form-field>

    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data urodzenia</mat-label>
        <input matInput [matDatepicker]="dp5" id="dodajZmarlegoDataUrodzenia" disabled>
        <mat-hint align="start"><strong>Data urodzenia</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp5 disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data śmierci</mat-label>
        <input matInput [matDatepicker]="dp6" id="dodajZmarlegoDataSmierci" disabled>
        <mat-hint align="start"><strong>Data śmierci</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp6"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp6 disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>

    <br><br>
    <button mat-raised-button color="primary" (click)="GetInputFromDodajzmarlego()">Dodaj</button>
  </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="specific-class">
      <mat-panel-title>
        Usuń / edytuj zmarłego
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="name-surname">
      <mat-label>Imię i Nazwisko</mat-label>
      <input matInput id="edytujZmarlegoImieINazwisko">
    </mat-form-field>


    <mat-form-field id="dodaj-zmarłego">
      <mat-label>Numer grobu</mat-label>
      <input matInput type="number" id="edytujZmarlegoNumerGrobu">
    </mat-form-field>

    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data urodzenia</mat-label>
        <input matInput [matDatepicker]="dp7" id="edytujZmarlegoDataUrodzenia" disabled>
        <mat-hint align="start"><strong>Data urodzenia</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp7"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp7 disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Data śmierci</mat-label>
        <input matInput [matDatepicker]="dp8" id="edytujZmarlegoDataSmierci" disabled>
        <mat-hint align="start"><strong>Data śmierci</strong> </mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp8"></mat-datepicker-toggle>
        <mat-datepicker touchUi #dp8 disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
    <br><br>

    <mat-form-field style="margin-left: 30px;">
      <mat-label>Szukaj</mat-label>
      <input matInput type="text" (keyup)=" applyFilterZmarli($event.target.value)" placeholder="Jan Kowalski" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSourceZmarli" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggleZmarli() : null"
            [checked]="selectionZmarli.hasValue() && isAllSelectedZmarli()"
            [indeterminate]="selectionZmarli.hasValue() && !isAllSelectedZmarli()" [aria-label]="checkboxLabelZmarli()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectionZmarli.toggle(row) : null"
            [checked]="selectionZmarli.isSelected(row)" [aria-label]="checkboxLabelZmarli(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię i nazwisko </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="LodgingId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numer grobu </th>
        <td mat-cell *matCellDef="let element"> {{element.LodgingId}} </td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="DateOfBirth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data urodzenia </th>
        <td mat-cell *matCellDef="let element"> {{element.DateOfBirth}} </td>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="DateOfDeath">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data śmierci </th>
        <td mat-cell *matCellDef="let element"> {{element.DateOfDeath}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsZmarli"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsZmarli;" (click)="selectionZmarli.toggle(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <br><br>
    <button mat-raised-button color="warn" id="usun" (click)="GetCheckedUsunZmarlego()">Usuń</button>
    <button mat-raised-button color="accent" (click)="GetDataFromEdytujzmarlego()">Edytuj</button>
  </mat-expansion-panel>
</mat-accordion>
<br>